.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 9;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.favorite-sidebar {
  margin: 80px 0;
  position: fixed;
  top: 0;
  right: -380px;
  width: 380px;
  height: 100vh;
  background: #f4e9d8;
  box-shadow: -10px 0 25px rgba(0,0,0,0.2);
  transition: right 0.35s ease;
  padding: 25px;
  z-index: 10;

  display: flex;
  flex-direction: column;

  &.open {
    right: 0;
  }

  @media (max-width: 1024px) {
    margin: 235px 0px;
    width: 320px;
    right: -320px;
  }

  @media (max-width: 850px) {
    margin: 270px 90px;
    width: 280px;
    right: -280px;
    padding: 20px;
  }

    @media (max-width: 600px) {
    margin: 320px 0px;
    width: 280px;
    right: -280px;
    padding: 20px;
  }

  @media (max-width: 420px) {
    margin: 320px 0px;
    align-self: flex-end;
    width: 50%;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
}

.favorite-sidebar.open {
  right: 0;
}

.close-btn {
  align-self: flex-end;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;

  @media (max-width: 480px) {
    font-size: 20px;
  }
}
