.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 9;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.favorite-sidebar {
  margin: 80px 0;
  position: fixed;
  top: 0;
  right: -380px;
  width: 380px;
  height: 100vh;
  background: #f4e9d8;
  box-shadow: -10px 0 25px rgba(0,0,0,0.2);
  transition: right 0.35s ease;
  padding: 25px;
  z-index: 10;

  display: flex;
  flex-direction: column;
}

.favorite-sidebar.open {
  right: 0;
}

.close-btn {
  align-self: flex-end;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}
