.oferta {
  display: flex;
  padding: 30px 60px;

  h5 {
      color: #333;
      padding-top: 15px;
  } 

  .oferta_ua {
    width: 500px;
    padding-left: 20px;

    h4 {
      font-family: Lato, serif;
      font-size: 22px;
      font-weight: 600;
      font-style: normal;
      color: #333;
    }
  }

  .oferta_description {
    max-width: 900px;
    padding-left: 30px;

    h4 {
      font-family: Lato, serif;
      font-size: 25px;
      font-weight: 600;
      font-style: normal;
      color: #333;
      padding-left: 35px;
    }
   ol {
  list-style-type: disc;
  padding-left: 50px;
  color: #333;
  font-size: 20px;
  li{
    list-style: none;
  }
}

  }
}
