.container__top{
  background-color: #f5f1e8;
  padding: 1px;
}
.content__top{
  display: flex;
  justify-content: space-between;
  height: 400px;
  border-radius: 1%;
  margin: 30px 20px;
}
.advertisement-left {
  width: 600px;
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
  color: #3b0009;
  padding: 20px;
}
.advertisement-left p {
  font-family: Georgia, serif;
}
.advertisement-right {
  width: 800px;     
  height: 300px;    
  position: relative;
  margin-top: -21px;
}

.advertisement-right img {
  width: 100%;       
  height: 100%;      
  object-fit: cover;
}
.decor__line{
  width: 100%;
  height: 10px;
  background-color: #0b3a53;
}

