.edit-product {
  background: #e4eec045;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: clamp(12px, 3vw, 24px) clamp(8px, 3vw, 16px);
  box-sizing: border-box;
  width: 100%;
}

.edit-product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 25px;
  background: rgba(228, 238, 192, 0.2705882353);
}
