@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

.bookstore-title {
  font-family: 'Pinyon Script', cursive;
  font-size: 48px; 
  color: #4154f1;  
  text-decoration: none;
}
.bookstore-title-link {
  font-family: 'Pinyon Script', cursive;
  font-size: 48px;
  color: wheat;
  text-decoration: none;

  display: inline-block;
  line-height: 1.2;
}

.error {
  color: red;
  font-weight: bold;
  margin: 10px 0;
}

.main-content {
  align-items: flex-start;
  background-color: #f3efe6;
  }

.all_container {
display: flex;
flex-direction: row;
min-height: 100vh;
background-image: url(https://images.pexels.com/photos/2768396/pexels-photo-2768396.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); 
background-size: cover;
background-attachment: fixed;
}

