// html, body {
//   height: 100%;
//   margin: 0;
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh; 
// }

// #root {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh; /* занимает всю высоту окна */
// }

// main {
//   flex: 1 0 auto; /* занимает всё доступное пространство между header и footer */
// }

// .footer {
//     color: white;
//     text-align: center;
//     bottom: 0;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     gap: 5px;
//     padding: 10px;
//     flex-shrink: 0;
//     // position: fixed;
//   }
  