.vacancies {
  display: flex;
  padding: 30px 60px;
  background: #f5f1e8;

  .vacancies_ua {
    width: 500px;
    padding-left: 20px;

    h4 {
      font-family: Lato, serif;
      font-size: 25px;
      font-weight: 600;
      font-style: normal;
      color: #333;
    }
  }

  .vacancies_description {
    max-width: 900px;
    padding-left: 30px;

    h4 {
      font-family: Lato, serif;
      font-size: 25px;
      font-weight: 600;
      font-style: normal;
      color: #333;
      padding-left: 35px;
    }

    ul {
      list-style-type: disc;
      padding-left: 50px;
      color: #333;
      font-size: 20px;

      li {
        list-style: none;
      }
    }
  }

  @media (max-width: 992px) {
    flex-direction: column;
    padding: 20px 40px;

    .vacancies_ua {
      width: 100%;
      padding-left: 0;
      margin-bottom: 20px;

      h4 {
        font-size: 22px;
      }
    }

    .vacancies_description {
      max-width: 100%;
      padding-left: 0;

      h4 {
        font-size: 22px;
        padding-left: 0;
      }

      ul {
        padding-left: 30px;
        font-size: 18px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 15px 20px;

    .vacancies_ua h4,
    .vacancies_description h4 {
      font-size: 20px;
    }

    .vacancies_description ul {
      padding-left: 20px;
      font-size: 16px;
    }
  }

  @media (max-width: 480px) {
    padding: 10px 15px;

    .vacancies_ua h4,
    .vacancies_description h4 {
      font-size: 18px;
    }

    .vacancies_description ul {
      padding-left: 15px;
      font-size: 14px;
    }
  }
}
