.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
}

.search-wrapper {
  position: relative;
  width: 300px;
}

.search-input {
  width: 100%;
  padding: 10px 35px 10px 40px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #efefe5;
}

.search-input:focus {
  border-color: #2b6cb0;
}

.clear-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #0b2a4a;
}

.clear-btn:hover {
  color: #000;
}
