.search-wrapper {
  position: relative;
  width: 350px;

  input {
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
}

.search-dropdown {
  position: absolute;
  top: 105%;
  width: 100%;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  max-height: 320px;
  overflow-y: auto;
  z-index: 1000;
}

.search-item {
  display: flex;
  gap: 12px;
  padding: 10px;
  cursor: pointer;
  align-items: center;

  img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 6px;
  }

  &:hover {
    background: #f5f5f5;
  }
}

.search-wrapper {
  position: relative;
  width: 300px;
}

.search-input-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input-box input {
  width: 100%;
  padding: 10px 40px 10px 38px; 
  border-radius: 20px;
  background: #f5f1e8;
  border: 1px solid #ccc;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 12px;
  color: #888;
  font-size: 14px;
  pointer-events: none;
}

.clear-btn {
  position: absolute;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #888;
  padding: 5px;
}

.clear-btn:hover {
  color: #000;
}
